extends layout

block content
 div.container
  div.row
   div.col.s9
    h4 #{title}
   div.col.s3 
    br
    a(href='/', title='Inicio')
     img(src='img/home.png', width='50', height='50')
    a(href='/', title='Inicio')
     img(src='img/left3.png', width='50', height='50')
    a(href='/', title='Inicio')
     img(src='img/right3.png', width='50', height='50')
  div.row
   div.col.s12
    - if(employeeterritories)
     table.hoverable.responsive-table.bordered
      tr.orange.accent-2
       th EmployeeID
       th TerritoryID
    
        each empleadoterritorio in employeeterritories
         tr
          td #{empleadoterritorio.EmployeeID}
          td #{empleadoterritorio.TerritoryID}
          
    - else
     div.card-panel.teal
      span.white-text No tienes ningun territorio